.header {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-grey);
}

@media (min-width: 1024px) {
  .header {
    height: 110px;
  }
}
