.championsBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: 50px;
  background: radial-gradient(var(--colorPrimary) 30%, var(--primary-grey) 50%);
  color: white;
}

.championsBanner h1 {
  font-size: medium;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  text-align: center;
}

.championsBannerLogo {
  position: relative;
  width: 100px;
  height: 100px;
}

.championsBannerTrophy {
  position: relative;
  width: 100px;
  height: 100%;
}

@media (min-width: 768px) {
  .championsBanner {
    height: 100%;
  }

  .championsBanner h1 {
    font-size: xx-large;
  }

  .championsBannerLogo {
    position: relative;
    width: 250px;
    height: 100%;
  }

  .championsBannerTrophy {
    position: relative;
    width: 250px;
    height: 100%;
  }
}
