.newsitem {
  max-width: 100%;;
  background-color: var(--primary-grey);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.newsitemTitle {
  font-family: var(--font-heading);
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 0px;
}

.newsitemDate {
  font-family: var(--font-accent);
  font-size: large;
  margin-top: 5px;
}

.newsitemBody {
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .newsitem {
    padding: 20px;
  }
  .newsitemTitle {
    font-size: 36px;
    margin-top: 0px;
  }

  .newsitemDate {
    font-size: x-large;
    margin-top: 5px;
  }

  .newsitemBody {
    font-size: large;
  }
}

@media (min-width: 1024px) {
  .newsitem {
    max-width: 90%;
  }
  .newsitemBody p {
    width: 80%;
  }
}

@media (min-width: 1440px) {
  .newsitem {
    max-width: 900px;
  }
}
