.contactPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 50px 20px;
}

.contactPage h1 {
  margin: 5 0;
  font-family: var(--font-heading);
}

.contactPage h4 {
  margin: 5 0;
  font-family: var(--font-heading);
  color: #888;
}

.contactInfoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.contactInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactMap {
  flex: 1;
  min-height: 300px;
}

.contactInfoLogo {
  position: relative;
  width: 240px;
  height: 200px;
}

.contactInfoLine {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contactInfoIcon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .contactPage {
    width: 80%;
  }

  .contactPage h1 {
    font-size: 48px;
  }

  .contactPage h4 {
    font-size: large;
  }

  .contactInfo h3 {
    font-size: x-large;
  }

  .contactMap {
    flex: 1;
  }

  .contactInfoLogo {
    width: 300px;
    height: 250px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .contactPage {
    gap: 60px;
  }

  .contactInfoLogo {
    margin: 0;
  }

  .contactInfoSection {
    flex-direction: row;
    gap: 20px;
  }
}
