.scheduleMatchup {
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--primary-black);
  width: 150px;
  height: 140px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid var(--primary-grey);
  border-radius: 5px;
}

.scheduleMatchup h6 {
  margin: 0px;
}

.scheduleMatchupInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.scheduleMatchupTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.scheduleMatchupTeamInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scheduleMatchupButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.boxscoreLink {
  text-decoration: none;
}

@media (min-width: 768px) {
  .scheduleMatchup {
    width: 220px;
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .scheduleMatchup {
    width: 220px;
    height: 180px;
    font-size: 22px;
  }
}
