.scheduleMatchup {
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--primary-black);
  width: 170px;
  height: 140px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid var(--primary-grey);
  border-radius: 5px;
}

.scheduleMatchup h6 {
  margin: 0px;
}

.scheduleMatchupInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.scheduleMatchupTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.scheduleMatchupTeamInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scheduleMatchupTeamInfo img {
  margin-right: 5px;
}

.scheduleMatchupButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.scheduleMatchupPlayoff {
  background-color: #14110b;
  background-image: linear-gradient(to top, transparent, #d4af3750);
  border: 2px solid #d4af37;
}

.scheduleMatchupPlayoff .scheduleMatchupInfo {
  color: #d9b74a;
}

.scheduleMatchupPlayoff .scheduleMatchupTeamInfo,
.scheduleMatchupPlayoff .scheduleMatchupTeam {
  color: #fbf6e6;
}

.scheduleMatchupRiverworks {
  background-color: #14294a;
  background-image:
    linear-gradient(to bottom, #ffffff05, black),
    radial-gradient(circle, #ffffff73 1px, transparent 1px),
    radial-gradient(circle, #ffffff53 1px, transparent 1px),
    radial-gradient(circle, #ffffff22 1px, transparent 1px);

  background-size:
    100% 100%,
    25px 16px,
    13px 21px,
    10px 11px;

  background-position:
    0 0,
    0 0,
    11px 7px,
    5px 19px;
  border: 2px solid #93accb;
}

.scheduleMatchupRiverworks .scheduleMatchupInfo,
.scheduleMatchupRiverworks .scheduleMatchupTeamInfo,
.scheduleMatchupRiverworks .scheduleMatchupTeam {
  color: #c9def5;
}

.boxscoreLink {
  text-decoration: none;
}

@media (min-width: 768px) {
  .scheduleMatchup {
    width: 220px;
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .scheduleMatchup {
    width: 220px;
    height: 180px;
    font-size: 22px;
  }
}
