.standingslegend {
  width: 90%;
  background-color: var(--primary-grey);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 0px;
  max-width: 500px;
  font-family: var(--font-heading);
}

.standingslegend h2 {
  margin: 0px 0px 10px 10px;
}

.standingslegend h6 {
  margin: 0px;
  font-size: small;
}

.standingslegendData {
  width: 90%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.standingslegendDataLeft {
  width: 50%;
}

@media (min-width: 1024px) {
  .standingslegend h6 {
    font-size: medium;
  }
}
