.navbar {
  width: auto;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px grey;
}

.navbarBlackLine {
  background-color: var(--primary-black);
  width: 100%;
  height: 7px;
}

.navbarWhiteLine {
  background-color: white;
  width: 100%;
  height: 7px;
}

.navbarRedLine {
  background-color: var(--primary-red);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 5px;
}

.navbarLogo {
  padding-top: 3px;
}

.navbarLogo img {
  width: 80px;
  height: 30px;
}

.navbarLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.navbarLink h4 {
  margin: 0;
  padding: 0;
}

.navbarHoverBar {
  position: absolute;
  left: 50%;
  bottom: 5px;
  height: 3px;
  width: 0;
  background: white;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  border-radius: 10px;
}

.navbarLink:hover .navbarHoverBar,
.navbarLinkActive .navbarHoverBar {
  width: 90%;
}

.navbarContact {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 12px;
}

.navbarMenuButton {
  background: none;
  border: none;
  padding: 0;
}

.navbarBurger {
  width: 24px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.navbarBurger span {
  display: block;
  height: 2px;
  width: 80%;
  background-color: white;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.navbarBurgerOpen span:nth-child(1) {
  transform: translateY(6.5px) rotate(45deg);
}

.navbarBurgerOpen span:nth-child(2) {
  opacity: 0;
}

.navbarBurgerOpen span:nth-child(3) {
  transform: translateY(-6.5px) rotate(-45deg);
}

@media (min-width: 768px) {
  .navbarLink {
    padding: 5px;
  }
}

@media (min-width: 1024px) {
  .navbarBlackLine,
  .navbarWhiteLine {
    height: 10px;
  }

  .navbarRedLine {
    gap: 20px;
  }

  .navbarLogo img {
    width: 100px;
    height: 35px;
  }

  .navbarLink {
    padding: 10px;
  }

  .navbarContact {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .navbarContact {
    font-size: 16px;
  }
}
