.scoreboardmatchup {
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-black);
  border-left: 1px solid var(--primary-black);
  border-right: 1px solid var(--primary-black);
  width: 150px;
  height: 100%;
}

.scoreboardmatchup h6 {
  margin: 0px;
}

.scoreboardmatchupInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.scoreboardmatchupInfo h6 {
  font-size: 12px;
}

.scoreboardmatchupInfoGame {
  text-align: right;
}

.scoreboardmatchupTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.scoreboardmatchupTeamLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scoreboardmatchupTeamName {
  font-size: 12px;
}

@media (min-width: 1024px) {
  .scoreboardmatchup {
    width: 180px;
  }

  .scoreboardmatchup h6,
  .scoreboardmatchupTeamName {
    font-size: 14px;
  }
}
