.scoreboardmatchup {
  position: relative;
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-black);
  border-left: 1px solid var(--primary-black);
  border-right: 1px solid var(--primary-black);
  width: 150px;
  height: 100px;
  overflow: hidden;
  transition: filter 0.2s ease-in;
}

.scoreboardmatchupOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--font-heading);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in;
}

.scoreboardmatchupOverlay svg {
  width: 60%;
  height: 60%;
}

.scoreboardmatchup:hover .scoreboardmatchupOverlay {
  opacity: 1;
  pointer-events: auto;
}

.scoreboardmatchup h6 {
  margin: 0px;
}

.scoreboardmatchupInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.scoreboardmatchupInfo h6 {
  font-size: 12px;
}

.scoreboardmatchupInfoGame {
  text-align: right;
}

.scoreboardmatchupTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.scoreboardmatchupTeamLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scoreboardmatchupTeamName {
  font-size: 12px;
}

.scoreboardmatchupMatchupPlayoff {
  background-color: #14110b;
  background-image: linear-gradient(to top, transparent, #d4af3750);
  border-left: 2px solid #d4af37;
}

.scoreboardmatchupMatchupPlayoff .scoreboardmatchupInfo {
  color: #d9b74a;
}

.scoreboardmatchupMatchupPlayoff .scoreboardmatchupTeamInfo,
.scoreboardmatchupMatchupPlayoff .scoreboardmatchupTeam {
  color: #fbf6e6;
}

.scoreboardmatchupRiverworks {
  background-color: #14294a;
  background-image:
    linear-gradient(to bottom, #ffffff05, black),
    radial-gradient(circle, #ffffff73 1px, transparent 1px),
    radial-gradient(circle, #ffffff53 1px, transparent 1px),
    radial-gradient(circle, #ffffff22 1px, transparent 1px);

  background-size:
    100% 100%,
    25px 16px,
    13px 21px,
    10px 11px;

  background-position:
    0 0,
    0 0,
    11px 7px,
    5px 19px;
  border-left: 2px solid #93accb;
}

.scoreboardmatchupRiverworks .scoreboardmatchupInfo,
.scoreboardmatchupRiverworks .scoreboardmatchupTeamInfo,
.scoreboardmatchupRiverworks .scoreboardmatchupTeam {
  color: #c9def5;
}

@media (min-width: 1024px) {
  .scoreboardmatchup {
    width: 180px;
    height: 110px;
  }

  .scoreboardmatchup h6,
  .scoreboardmatchupTeamName {
    font-size: 14px;
  }
}
