.goaliestatsScroll {
  width: 100%;
  overflow-x: auto;
}

.goaliestats {
  font-size: medium;
  min-width: 700px;
  border-collapse: collapse;
  margin: 20px 0px;
  text-align: center;
  line-height: 35px;
}

.goaliestats tr:nth-child(odd) {
  background-color: white;
}

.goaliestats tr:nth-child(even) {
  background-color: var(--primary-grey);
}

.goaliestats th {
  font-family: var(--font-heading);
  color: white;
  background-color: var(--primary-black);
}

.goaliestatsPlayerCell {
  display: flex;
  align-items: center;
  min-width: 200px;
  text-align: left;
}

.goaliestatsSortedCell {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  background-color: var(--secondary-grey);
}

.goaliestatsStatsCell {
  width: 100px;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .goaliestatsScroll {
    display: flex;
    justify-content: center;
  }

  .goaliestats {
    min-width: 768px;
    line-height: 35px;
  }

  .goaliestatsPlayerCell {
    min-width: 200px;
  }

  .goaliestatsSortedCell {
    width: 66px;
  }

  .goaliestatsStatsCell {
    width: 66px;
  }
}

@media (min-width: 1024px) {
  .goaliestats {
    min-width: 800px;
  }
}
