:root {
  --primary-red: #c00;
  --primary-black: #222;
  --primary-grey: #ddd;
  --secondary-black: #444;
  --secondary-grey: #ccc;
  --font-body: var(--font-inter), sans-serif;
  --font-heading: var(--font-archivo), sans-serif;
  --font-accent: var(--font-work-sans), sans-serif;
}

body {
  margin: 0;
  background-color: white;
  font-family: var(--font-body);
  color: var(--primary-black);
}

main {
  display: flex;
  flex-direction: row;
}
