:root {
  --primary-red: #c00;
  --primary-black: #111;
  --primary-grey: #ddd;
  --secondary-black: #222;
  --secondary-grey: #aaa;
  --font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-grey);
  font-family: var(--font-family);
  color: var(--primary-black);
}

main {
  display: flex;
  flex-direction: row;
}
