@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&family=Inter:wght@400;600;700&family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --primary-red: #c00;
  --primary-black: #222;
  --primary-grey: #ddd;
  --secondary-black: #444;
  --secondary-grey: #aaa;
  --font-body: "Inter", sans-serif;
  --font-heading: "Archivo", sans-serif;
  --font-accent: "Work Sans", sans-serif;
}

body {
  margin: 0;
  background-color: white;
  font-family: var(--font-body);
  color: var(--primary-black);
}

main {
  display: flex;
  flex-direction: row;
}
