.webpageHeader {
  position: sticky;
  top: 0;
  z-index: 1000000;
}

.webpageMain {
  min-height: 100vh;
}

.webpageFooter {
  z-index: 1000000;
}

@media (min-width: 768px) {
  .webpage {
    height: 100%;
  }
}
