.webpageHeader {
  position: sticky;
  top: 0;
  z-index: 1000000;
  height: 135px;
  overflow: hidden;
}

.webpageMain {
  min-height: 100vh;
}

.webpageFooter {
  z-index: 1000000;
}

@media (min-width: 768px) {
  .webpage {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .webpage {
    height: 100%;
  }

  .webpageHeader {
    height: 160px;
  }
}
