.rules {
  width: auto;
  background-color: var(--primary-grey);
  padding: 10px;
  border-radius: 10px;
}

.rules h1 {
  font-size: 24px;
  font-family: var(--font-heading);
  margin-bottom: 0px;
}

.rules h2 {
  font-size: 16px;
  font-family: var(--font-heading);
}

.rules h6 {
  font-size: 10px;
  font-family: var(--font-heading);
  color: #888;
  margin: 10px 0 20px 0;
}

@media (min-width: 768px) {
  .rules {
    padding: 40px;
  }

  .rules h1 {
    font-size: 30px;
  }

  .rules h2 {
    font-size: 20px;
  }

  .rules h6 {
    font-size: 12px;
  }

  .rules p {
    font-size: 16px;
  }
}
