.footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-black);
  color: white;
}

.footerLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding-top: 10px;
}

.footerLeagueLogo {
  width: 75px;
  height: 60px;
}

.footerTeamLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.footerTeamLogo {
  width: 50px;
  height: 35px;
}

.footerPageLinks {
  display: flex;
  flex-direction: column;
  gap: 10;
  margin: 20px 0;
  text-align: center;
}

.footer a {
  color: var(--primary-grey);
  text-decoration: none;
}

.footer h5 {
  font-size: x-small;
  margin: 0;
}

.footer h6 {
  font-size: x-small;
  color: var(--secondary-grey);
  margin-top: 0;
}

.footer p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 768px) {
  .footerLogos {
    width: 70%;
    max-width: 800px;
    padding-top: 10px;
  }

  .footerLeagueLogo {
    width: 120px;
    height: 100px;
  }

  .footerTeamLogo {
    width: 80px;
    height: 60px;
  }

  .footerPageLinks {
    flex-direction: row;
    gap: 20;
    margin: 20px 0;
    text-align: center;
  }

  .footer h5 {
    font-size: small;
    margin: 0;
  }

  .footer p {
    margin-bottom: 0;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .footerLogos {
    width: 800px;
  }
}
