.leagueinfo {
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 0px 20px;
  height: fit-content;
  margin: 0 auto;
}

.leagueinfoTable td {
  font-size: small;
  padding: 20px 10px;
}

.leagueinfo td:nth-child(odd) {
  font-weight: 700;
}

.leagueinfo td:nth-child(even) {
  text-align: right;
}

.leagueinfo h1 {
  text-align: center;
  font-family: var(--font-heading);
}

.leagueinfoInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leagueinfoImage {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.leagueinfoTable {
  border-collapse: collapse;
  width: 100%;
}

.leagueinfoRow {
  border-top: 1px solid;
}

@media (min-width: 425px) {
  .leagueinfo {
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .leagueinfo {
    width: 70%;
    max-width: 600px;
  }

  .leagueinfoTable td {
    font-size: medium;
  }
}

@media (min-width: 1024px) {
  .leagueinfo {
    width: 100%;
    max-width: 800px;
    padding: 20px 40px;
  }

  .leagueinfoInformation {
    flex-direction: row;
    gap: 30px;
  }

  .leagueinfoTable {
    width: 30%;
  }

  .leagueinfoTable td {
    font-size: small;
    padding: 20px 10px;
  }
}

@media (min-width: 1440px) {
  .leagueinfo {
    max-width: 1040px;
    padding: 40px;
  }

  .leagueinfoTable td {
    font-size: medium;
    padding: 25px 10px;
  }
}
