.skaterstatsScroll {
  width: 100%;
  overflow-x: auto;
}

.skaterstats {
  font-size: medium;
  min-width: 700px;
  border-collapse: collapse;
  margin: 20px 0px;
  text-align: center;
  line-height: 35px;
}

.skaterstats th {
  font-family: var(--font-heading);
  color: white;
  background-color: var(--primary-black);
}

.skaterstats tr:nth-child(odd) {
  background-color: white;
}

.skaterstats tr:nth-child(even) {
  background-color: var(--primary-grey);
}

.skaterstatsPlayerCell {
  display: flex;
  min-width: 200px;
  text-align: left;
  align-items: center;
}

.skaterstatsSortedCell {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  background-color: var(--secondary-grey);
}

.skaterstatsStatsCell {
  width: 100px;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .skaterstatsScroll {
    display: flex;
    justify-content: center;
  }

  .skaterstats {
    min-width: 768px;
    line-height: 35px;
  }

  .skaterstatsPlayerCell {
    min-width: 200px;
  }

  .skaterstatsSortedCell {
    width: 66px;
  }

  .skaterstatsStatsCell {
    width: 66px;
  }
}

@media (min-width: 1024px) {
  .skaterstats {
    min-width: 800px;
  }
}
