.dropdown {
  position: relative;
  display: inline-block;
  width: 160px;
}

.dropdown h6 {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
}

.dropdownButton {
  display: flex;
  padding: 8px;
  background-color: white;
  border: 1px solid var(--primary-grey);
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.dropdownDivider {
  width: 1px;
  height: 15px;
  background-color: var(--primary-grey);
  margin: 0px 8px;
}

.dropdownButton > .dropdownDivider {
  margin-left: auto;
}

.dropdownContent {
  position: absolute;
  background-color: white;
  border: 1px solid var(--primary-grey);
  width: 120px;
  z-index: 1;
  border-radius: 5px;
}

.dropdownOption {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-grey);
}

.dropdownOption:hover {
  background-color: var(--secondary-grey);
}

@media (min-width: 1024px) {
  .dropdown {
    width: 200px;
  }

  .dropdown h6 {
    font-size: 18px;
  }

  .dropdownContent {
    min-width: 200px;
  }

  .dropdownDivider {
    width: 1px;
    height: 20px;
    margin: 0px 8px;
  }
}
