.galleryclient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.galleryclient h1 {
  margin: 0px 0px 5px 0px;
}

.galleryclientBody {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryclientHeader {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.galleryclientPhotoSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.galleryclientPhotoSection img {
  padding: 10px;
}

.galleryclient img {
  object-fit: contain;
  width: 80%;
}

@media (min-width: 768px) {
  .galleryclientHeader {
    width: 90%;
  }

  .galleryclient img {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .galleryclientHeader {
    width: 95%;
  }

  .galleryclient img {
    width: 30%;
  }
}
