.homegallery {
  width: 100%;
  background-color: #f0f0f0;
}

.homegallery a {
  text-decoration: none;
}

.homegalleryImage {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 128 / 75;
  object-fit: contain;
  border-radius: 16px;
  overflow: hidden;
}

.homegalleryOverlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  aspect-ratio: 128 / 75;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  border-radius: 16px;
  color: white;
}

.homegalleryOverlayHeader {
  margin: 0 0 10px 0;
  padding: 0 20px;
  font-size: xx-large;
  font-family: var(--font-accent);
}
.homegalleryOverlaySubheader {
  margin: 0 0 10px 0;
  padding: 0 20px;
  font-size: medium;
  font-family: var(--font-accent);
}

.homegalleryButton {
  margin: 10px 0 20px 0;
  padding: 0 20px;
  font-size: medium;
  font-family: var(--font-accent);
}
